

<h2>Price Comparator</h2>

<mat-stepper linear>
  <mat-step [stepControl]="zipcodeFormGroup">
    <form [formGroup]="zipcodeFormGroup">
      <ng-template matStepLabel>Enter your zipcode</ng-template>
      <mat-form-field>
        <mat-label>Zipcode</mat-label>
        <input matInput formControlName="zipcodeCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="storesFormGroup">
    <form [formGroup]="storesFormGroup">
      <ng-template matStepLabel>Select stores you shop at</ng-template>
      <mat-form-field>
        <mat-label>Supported Stores</mat-label>
        <mat-select formControlName="storesCtrl" multiple>
          <mat-option *ngFor="let storeType of supportedStoreTypes" [value]="storeType">{{storeType}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="getStores()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="storeLocationsFormGroup">
    <form [formGroup]="storeLocationsFormGroup">
      <ng-template matStepLabel>Select store locations</ng-template>
      <mat-form-field>
        <mat-label>Store Locations</mat-label>
        <mat-select formControlName="storeLocationsCtrl" multiple>
          <mat-option *ngFor="let store of storeLocations" [value]="store">{{store.id}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submit()">Start shopping</button>
      </div>
    </form>
  </mat-step>

</mat-stepper>

