.form {
  margin-left: 200px;
  margin-right: 200px;
}

.test {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

::ng-deep .mat-step-header .mat-step-icon-selected{
  background-color: green;
}
