<style>
    .button-container {
      display: flex;
    }
    .button-container button {
      margin-right: 10px;
    }

    #nameentry {
        width: max-content;
    }
  </style>

  <h2>Personal Savor</h2>

<input type="text"
       class="input"
       placeholder="Enter Zip Code"
       [(ngModel)]="zipcode">
<button (click)="submit()" type="button" name="button">Submit</button>

<!--
<table>
  <tr>
    <td>
      <form>
        <input type="text" placeholder="Enter your name" id="nameentry">
        <br />
        <br />
        <br />


        <br />
        <br />
        <br />
        <div class="button-container">
          <button (click)="target()">Target</button><br>
          <button (click)="walmart()">Wal-Mart</button><br>
          <button (click)="hyvee()">Hy-Vee</button>
        </div>
        <br />
        <br />
        <label for="storeAddress">Choose store address:</label>
        <br />
        <select id="address" name="address">
          <option value="s1">address 1</option>
          <option value="s2">address 2</option>
          <option value="s3">address 3</option>
          <option value="s4">address 4</option>
        </select>
        <br />
        <br />
        Shopping List:
        <br />
        <br />

        <div *ngFor="let item of items">

            <input type="text" placeholder="Enter item">
                <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>


       </div>



        <br />
        <button (click)="start()">Start</button>
      </form>
    </td>
    <td>

    </td>
  </tr>


</table>

<ul>
  <li *ngFor="let item of savedItems">
    {{item.name}} (Quantity: {{item.quantity}})
  </li>
</ul>

-->
