<h2>Shopping List</h2>

<input type="text" [(ngModel)]="searchQuery" placeholder="Search" />
<button (click)="submit()" type="button" name="button">Submit</button>
<div class="product-container">
    <div class="product" *ngFor="let product of products; let i = index">
        <img src="/assets/{{ product.name }}-image-placeholder.jpg" alt="Product Image" width="50%" height="50%">
        <p>{{ product.name }}</p>
        <button (click)="addToShoppingList(product)">Add</button>
      </div>
</div>
<h3>My Shopping List</h3>
<ul>
  <li *ngFor="let item of shoppingList">{{ item.name }} (Count: {{ item.count }})</li>
</ul>
