.product-container {
  display: flex;
  justify-content: space-between;
}

.product {
  text-align: center;
  margin: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

table {
  border-collapse: collapse;
  width: 50%;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}


/* Align the search form to the left within its tile */
.search-form-tile {
display: flex;
align-items: center;
}

/* Adjust the height of the grid tiles. */
.mat-grid-tile { 
padding-top: calc((5% - 12.8px) * 1 + 0px);
}

/* Set a width for the quantity field. */
#qtyField {
  width: 50px;
}

/* Always show the spinner arrows for the quantity.  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

#checkoutBtn {
  /* margin-left: 20px; */

  margin-left: 40px;
  width: 100px;
  height: 30px;
  margin-top: 15px;
  background-color: limegreen;
}

#backBtn {
  margin-left: 20px;
  height: 30px;
  width: 100px;
  background-color: orangered;  
}
